canvas, #title_page {
  border:1px solid black;
  width:600px;
  height:400px;
}

#title_page{
  text-align: center;
  vertical-align: middle;
  line-height: 400px;
  font: Ariel;
  font-size: 60px;
  color:blue;
}
