canvas, #title_page {
  border:1px solid black;
  width:500px;
  height:300px;
}

#title_page{
  text-align: center;
  vertical-align: middle;
  line-height: 300px;
  font: Ariel;
  font-size: 40px;
  color:blue;
}
