canvas, #title_page {
    border:1px solid black;
    width:450px;
    height:300px;
    margin-left: auto;
    margin-right: auto;
}

#title_page{
    text-align: center;
    display: block;
    vertical-align: middle;
    line-height: 300px;
    font: Ariel;
    font-size: 40px;
    color:blue;
}

#process_data_table{
    margin-left: auto;
    margin-right: auto;
    width: 750px;
    border-collapse: collapse;
}

#process_1_screen, #process_2_screen, #shared_data_screen {
    border-style: solid;
}

#shared_data_screen {
    width: 150px;
}

#process_1_screen,  #process_2_screen {
    width: 300px;
}

#petersons_flag_table{
    border-collapse: collapse;
    display: inline;
}

#petersons_flag_table td {
    border-style: solid;
    width:40px;
}
